/*--------------------------------------------------------------
# Two Column Default Start
--------------------------------------------------------------*/
html {
	font-family: "Microsoft Yi Baiti";
}
body {
	margin: 0;
}
h1,
h2,
h3,
h4 {
margin: 0;
letter-spacing: 1px;
}
div {
display: block;
}
a {
text-decoration: none;
}
/*--------------------------------------------------------------
# Two Column Default End
--------------------------------------------------------------*/
#page {
	width: 1349px;
	margin: 0 auto;
}
.page-title img {
	width: 300px;
}
#wrapper {
	padding: 20px;
	background-image: url(http://two-column.localhost/css/images/header-slide.jpg);
	background-size: 100%;
	height: 598px;
}
.page-title, .nav-menu {
	display: inline-block;
	vertical-align: middle;
}
.nav-menu {
	float: right;
}
.page-title, .nav-menu {
	display: inline-block;
	vertical-align: middle;
}
.nav-menu ul {
	list-style-type: none;
	margin: 0;
}
.nav-menu ul li {
	display: inline-block;
	margin-left: 54px;
}
.nav-menu ul li a {
	text-transform: uppercase;
	font-family: "Microsoft Yi Baiti";
	font-size: 23px;
	color: #000;
}
#wrapper > div > div.nav-menu > ul > li:nth-child(2) > a:after {
	content: url(http://two-column.localhost/css/images/headarrow.png);
	margin-left: 10px;
}