/*-------------------------------
# Reponsive Style Start
--------------------------------*/
.header-main li {
	display: inline-block;
	float: left;
	margin-right: 1px;
}
.header-main li ul {
	display: none;
}
.header-main li ul li {
	display: block;
	float: none;
}
.header-main li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #2d2a2a;
	padding: 3%;
	background: white;
	text-align: center;
	display: none;
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox]:checked ~ #menu {
	display: block;
}
@media only screen and (max-width: 767px){
	.nav-menu {
		height: 70px;
		width: 100%;
		position: absolute;
		left: 0;
		font-size: 18px;
	}
	#page {
		width: 100% !important;
		overflow: hidden;
	}
	.page-title img {
		width: 40%;
	}
	.page-title {
		width: 100%;
		text-align: center;
		padding: 3%;
		float: none;
		padding: 0 !important;
		margin-top: 4px;
		margin-bottom: 6px;
	}
	.main-menu {
		width: initial !important;
	}
	label.show-menu {
		cursor: pointer;
	}
	.show-menu {
		display: block !important;
		padding-left: 0 !important;
	}
	.main-menu ul li {
		padding-bottom: 5px !important;
		text-align: center !important;
		background: white;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		margin: 0 auto;
	}
	.main-menu ul li:nth-child(1):before,
	.main-menu ul li:after {
		display: none;
	}
	.main-menu {
		height: 19px;
		width: 100%;
	}
	.header-main ul {
		position: static;
		display: none;
	}
	.header-main ul li,
	li a {
		width: 100%;
	}
	.main-menu ul li:after {
		content: "";
		margin-left: 0;
	}
	.main-menu ul li:nth-child(1):before {
		content: "";
		margin-left: 0;
	}
	#primary {
		width: 100%;
	}
	.page-title img {
		width: 84%;
		position: absolute;
		left: 8%;
		top: 21px;
	}
	#wrapper {
		height: 200px;
		background-size: 100% 100%;
		margin-top: 100px;
	}
	#page {
		overflow-x: hidden;
	}
	.page-title {
		width: 90%;
		margin-left: 5%;
	}
	#secondary {
		display: none;
	}
	input[type=checkbox]:checked ~ #menu {
		padding: 0;
	}
	#primary {
		margin-top: 0px;
	}
	.feat-prod-box > div {
		display: block;
		width: 100% !important;
	}
	.featured-products-content,
	.sale-products-content,
	.hat-products-content {
		width: 100% !important;
		margin-left: 0;
	}
	.search-content {
		width: 100%;
	}
	.feat-banner {
		width: 100%;
	}
	.feat.prod-box .product-content img {
		width: 100%;
	}
	.feat-prod-box .product-content p,
	.product-box .product-content p {
		font-size: 30px;
	}
	.feat-banner h1 {
		padding-top: 17px;
	}
	.feat-prod-box .product-content img {
		width: 92%;
		margin-left: 4%;
		margin-top: 26px;
	}
	.feat-banner h1 {
		font-size: 50px;
	}
	.feat-banner img {
		width: 100%;
	}
	.search-content table,
	.feat-prod-box,
	#page {
		width: 100%;
	}
	.search-content th {
		font-size: 20px;
	}
	.search-content td {
		width: 29%;
	}
	.search-content input[type=text],
	.search-content select {
		height: 26px;
		width: 139%;
		border: 1px solid;
		margin-top: 43px;
	}
	.search-content > table > tbody > tr > td:nth-child(4) > select {
		font-size: 40px;
	}
	#primary > div.hat-products-content > div.feat-prod-box > div > p:nth-child(2) {
		margin-top: -63px;
	}
	#primary > div.hat-products-content > div.feat-prod-box > div > img {
		margin-top: -20px''
	}
	#primary > div.hat-products-content > div.feat-prod-box > div:nth-child(3) > p:nth-child(2) {
		margin-top: -43px;
	}
	.search-content {
		padding: 3px;
		margin-top: -30px;
	}
	.search-content > table > tbody > tr > td:nth-child(4) > select {
		font-size: 12px;
		width: 100%;
	}
	#page {
		overflow-x: hidden;
	}
	.page-title {
		width: 90%;
		margin-left: 5%;
	}
	.search-content > table > tbody > tr > th:nth-child(3) {
		padding-left: 36px;
		text-align: right;
	}
	.search-content > table > tbody > tr > th:nth-child(1) {
		text-align: right;
	}
	.search-content table {
		width: 94%;
		margin-left: 3%;
	}
	#secondary {
		display: none;
	}
}
@media only screen and (max-width: 767px) and (min-width: 651px) {
	#wrapper {
		margin-top: 157px !important;
	}
	.nav-menu {
		top: 87px !important;
	}
}
@media only screen and (max-width: 375px) {
	#wrapper {
		margin-top: 100px !important; 
	}
	.nav-menu {
		top: 53px !important;
	}
}
@media only screen and (max-width: 650px) and (min-width: 520px) {
	#wrapper {
		margin-top: 141px !important;
	}
	.nav-menu {
		top: 78px !important;
	}
}
@media only screen and (max-width: 519px) and (min-width: 376px) {
	#wrapper {
		margin-top: 110px !important;
	}
	.nav-menu {
		top: 65px !important;
	}
}
/*-------------------------
# Responsive Style End
--------------------------*/



















